/*
Fluidence Landing Page

Author: Bonnie Zhou
Author URI: https://bonniezhou.com
*/
@font-face {
  font-family: "Fluidence";
  src: url("../fonts/Fluidence-VF.woff2") format("woff2-variations");
  font-weight: 400 900;
}
@font-face {
  font-family: "Jasmine de Lune";
  src: url(../fonts/JasminedeLune-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --font-header: "Fluidence", sans-serif;
  --font-body: "Red Hat Text", serif;
  --col-black: rgb(22, 22, 22);
  --col-white: rgb(255, 255, 255);
  --col-red: rgb(236, 18, 27);
  --col-light-red: rgb(249, 241, 241);
  --col-grey: rgb(148, 148, 148);
  --gap-button: .2rem;
}

/* Reset
 * ------------------------------------------------------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

ul {
  padding: revert;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

button, fieldset, input, textarea, select, fieldset {
  background: none;
  border: none;
  border-radius: 0;
  outline: 0;
}

/* Accessibility
 * ------------------------------------------------------------- */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
  height: 1px;
  width: 1px;
}

/* Site settings
 * ------------------------------------------------------------- */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--col-black);
  overflow-x: hidden;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

/* Headings and paragraphs
 * ------------------------------------------------------------- */
h1 {
  font-family: var(--font-header);
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1;
  color: var(--col-red);
  margin-bottom: 1em;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  color: var(--col-red);
  margin-bottom: 1em;
}

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  margin-bottom: 3rem;
}

/* Links 
 * ------------------------------------------------------------- */
a {
  color: var(--col-red);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Other
 * ------------------------------------------------------------- */
hr {
  border: 1px solid rgba(var(--col-black), 1);
  margin: 3em 0;
}

code {
  font-size: 16px;
  font-size: 1.6rem;
  background-color: var(--col-light-red);
}

/* Overrides
 * ------------------------------------------------------------- */
.fsjs-skin .dk-selected,
.fsjs-skin .fsjs-button,
.fsjs-skin .fsjs-block-type-buttongroup button,
.fsjs-label-unit {
  font-size: 16px !important;
  font-size: 1.6rem !important;
}

.fsjs-block-type-textfield .fsjs-element {
  padding: 6rem 0;
}

/* Images & media elements
 * ------------------------------------------------------------- */
img {
  max-width: 100%; /* Adhere to container width. */
  height: auto; /* Make sure images are scaled correctly. */
  display: block;
}

svg {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.3em;
}

.about-student .module--social svg {
  fill: var(--col-black);
}

.layout--header {
  padding: 1.5em 3em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border-bottom: 2px solid var(--col-red);
}

.logo {
  font-size: 42px;
  font-size: 4.2rem;
  color: var(--col-black);
  font-family: "Fluidence", sans-serif;
  width: fit-content;
  text-align: center;
  line-height: 1.1;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.navigation li {
  display: inline;
  margin: 0 1em;
  min-height: 48px;
}
.navigation li a {
  color: var(--col-black);
  padding-bottom: 0.1em;
}
.navigation li a:hover {
  color: var(--col-black);
  padding-bottom: 0.1em;
  border-bottom: 1px solid var(--col-black);
}
.navigation li.current a {
  color: var(--col-red);
  font-weight: bold;
  padding-bottom: 0.1em;
  border-bottom: 2px solid var(--col-red);
}
.navigation li.current a:hover {
  color: var(--col-red);
  padding-bottom: 0.1em;
  border-bottom: 2px solid var(--col-red);
}
.navigation li.inactive a {
  color: var(--col-red);
  font-weight: bold;
  padding-bottom: 0.1em;
  border-bottom: 1px solid var(--col-black);
}

/*
 * Footer
 * ----------------------------------------------------------- */
.layout--footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  padding: 3rem 4rem;
  background-color: var(--col-black);
  color: var(--col-white);
}

.layout--footer > * {
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (min-width: 64em) {
  .layout--footer {
    grid-template-columns: repeat(3, 1fr);
  }
  .layout--footer p {
    text-align: center;
  }
}
.project {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.type-title {
  grid-column: 1/-2;
  grid-row: 1;
  padding: 8rem 0 0;
  margin-bottom: 0;
  font-family: "Fluidence", serif;
  font-variation-settings: "wght" 550;
  font-size: 200px;
  font-size: 20rem;
}

.type-designer {
  grid-column: 4/6;
  grid-row: 2;
  text-align: center;
  font-family: "Fluidence", serif;
  font-variation-settings: "wght" 400;
  font-size: 48px;
  font-size: 4.8rem;
  color: var(--col-black);
}

.type-desc {
  grid-column: 1/-3;
  grid-row: 3;
  padding: 0 1rem;
}

.buy-button {
  grid-column: -2/-1;
  grid-row: 3;
  align-self: center;
  height: fit-content;
  padding: 1.4rem 0;
  margin-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--col-red);
  color: var(--col-white);
  text-decoration: none;
}
.buy-button:hover {
  box-shadow: 0 0 0 0.1rem var(--col-red);
}

.buy {
  margin: 3rem 0;
  grid-column: 1/-1;
  padding: 1rem 0;
  border-bottom: 0.2rem solid var(--col-red);
}
.buy .buy-title {
  padding: 2rem 0;
  font-size: 8rem;
  margin: 0;
  border-bottom: 0.2rem solid var(--col-red);
  font-variation-settings: "wght" 600;
}

.faq {
  grid-column: 1/-1;
}
.faq .faq-title {
  padding-top: 2rem;
  text-align: center;
  font-size: 6rem;
  font-variation-settings: "wght" 850;
}

@media screen and (min-width: 64em) {
  .type-about {
    grid-template-columns: repeat(12, 1fr);
  }
  .about-typeface {
    grid-column: 1/7;
  }
}

/*# sourceMappingURL=app.css.map */
