// ------------------------------------------------------
// Root variables
// ------------------------------------------------------

:root {
	--font-header: 'Fluidence', sans-serif;
	--font-body: 'Red Hat Text', serif;
	--col-black: rgb(22, 22, 22);
	--col-white: rgb(255, 255, 255);
	--col-red: rgb(236, 18, 27); 
	--col-light-red: rgb(249, 241, 241);
	--col-grey: rgb(148, 148, 148);
	--gap-button: .2rem;
}
  