// ------------------------------------------------------
// Root variables
// ------------------------------------------------------

:root {
	--font-header: 'Fluidence', sans-serif;
	--font-body: 'Red Hat Text', serif;
	--col-black: #161616;
	--col-white: #ffffff;
	--col-light-red: #f9f1f1;
	--col-red: #ec121b; }
  