/*
 * Footer
 * ----------------------------------------------------------- */

.layout--footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 5rem;
	background-color: var(--col-black);
	color: var(--col-white);
	column-gap: 5rem;

	h1, p {
		grid-column: 1 / -2;
	}
}

.socials {
	display: flex;
	flex-direction: column;
	row-gap: .5rem;
	justify-self: start;
	@include no-bullets();
	color: var(--col-red);
}

@media screen and ( min-width: 64em ) {
	
}


