// Header 
// -----------------------------------------------------------

.layout--header {
	padding: 1.5em 3em;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	border-bottom: 2px solid var(--col-red);
}

.logo {
	@include font-size(4.2);
	color: var(--col-black);
	font-family: var(--font-header);
	width: fit-content;
	text-align: center;
	line-height: 1.1;
}

.navigation {
	@include no-bullets();
	text-align: right;

	li {
		display: inline;
		margin: 0 1em;
		min-height: 48px;

		a {
			color: var(--col-black);
			padding-bottom: 0.1em;
			// @include link-effect();
		
			&:hover {
				color: var(--col-black);
				padding-bottom: 0.1em;
				border-bottom: 1px solid var(--col-black);
			}
		}
	}

	li.current a {
		color: var(--col-red);
		font-weight: bold;
		padding-bottom: 0.1em;
		border-bottom: 2px solid var(--col-red);
	
		&:hover {
			color: var(--col-red);
			padding-bottom: 0.1em;
			border-bottom: 2px solid var(--col-red);
		}
	}

	li.inactive a {
		color: var(--col-red);
		font-weight: bold;
		padding-bottom: 0.1em;
		border-bottom: 1px solid var(--col-black);
	}
} 
