// Project
// -----------------------------------------------------------

.main {
	padding: 0 5rem 2rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

// ------------------------------------------------------
// Header
// ------------------------------------------------------

.type-title {
	grid-column: 1 / -2;
	grid-row: 1;

	padding: 8rem 0 0;
	margin-bottom: 0;

	font-family: 'Fluidence', serif;
	font-variation-settings: 'wght' 550;
	@include font-size(20);
}

.type-designer {
	grid-column: 4 / 6;
	grid-row: 2;
	text-align: center;

	font-family: 'Fluidence', serif;
	font-variation-settings: 'wght' 400;
	@include font-size(4.8);
	color: var(--col-black);
}

.type-desc {
	grid-column: 1 / -3;
	grid-row: 3;
	padding: 0 1rem;
}

.buy-button {
	grid-column: -2 / -1;
	grid-row: 3;
	align-self: center;
	height: fit-content;
	padding: 1.4rem 0;
	margin-right: 20%;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--col-red);
	color: var(--col-white);
	text-decoration: none;

	&:hover {
		box-shadow: 0 0 0 .1rem var(--col-red);
	}
}

// ------------------------------------------------------
// Buy License
// ------------------------------------------------------

.buy {
	margin: 3rem 0;
	grid-column: 1 / -1;
	padding: 1rem 0;
	border-bottom: .2rem solid var(--col-red);

	.buy-title {
		padding: 2rem 0;
		@include font-size(8);
		margin: 0;
		border-bottom: .2rem solid var(--col-red);
		font-variation-settings: 'wght' 600;
	}
}

// ------------------------------------------------------
// FAQ
// ------------------------------------------------------

  .faq {
	grid-column: 1 / -1;

	.faq-title {
		padding-top: 2rem;
		text-align: center;
		@include font-size(6);
		font-variation-settings: 'wght' 850;
	}
}

// ------------------------------------------------------
// Inspo & Process
// ------------------------------------------------------

h1.inspo, 
h1.process {
	grid-column: 1 / -1;
	@include font-size(5);
	font-variation-settings: 'wght' 400;
	line-height: revert;
	margin-bottom: 0;
}

p.inspo {
	&.inspo--1 {
		grid-column: 1 / -2;
	}

	&.inspo--2 {
		grid-column: 1 / -3;
	}

	&.inspo--3 {
		grid-column: 2 / -1;
	}
}
img.inspo {
	&.inspo--1 {
		grid-column: 2 / -1;
	}

	&.inspo--2_1 {
		grid-column: 3 / 4;
		margin-left: -1rem;
	}
	&.inspo--2_2 {
		grid-column: 4 / 5;
		margin-left: 1rem;
	}
}

p.process {
	grid-column: 1 / -1;

	&.process--2 {
		grid-column: 1 / -2;
	}
	&.process--2_1 {
		grid-column: 3 / -2;
	}

	&.process--3 {
		grid-column: 3 / 5;
	}
}
img.process {
	&.process--1_1 {
		grid-column: 1 / -3;
		grid-row: 15 / 17;
		width: 100%;
	}
	&.process--1_2 {
		grid-column: 4 / -1;
		grid-row: 16 / 18;
	}
	&.process--1_3 {
		grid-column: 2 / -3;
		grid-row: 17 / 19;
	}

	&.process--2 {
		grid-column: 2 / 3;
	}

	&.process--3 {
		grid-column: 5/-1;
	}
}

h1.glyph-display {
	grid-column: 2 / -2;
	margin-top: 8rem;
}

@media screen and (min-width: 64em) {
	.type-about {
		grid-template-columns: repeat(12, 1fr);
	}

	.about-typeface { 
		grid-column: 1 / 7; 
	}
}
