// Project
// -----------------------------------------------------------

.project {
	padding: 0 5rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

.type-title {
	grid-column: 1 / -2;
	grid-row: 1;

	padding: 8rem 0 0;
	margin-bottom: 0;

	font-family: 'Fluidence', serif;
	font-variation-settings: 'wght' 550;
	@include font-size(20);
}

.type-designer {
	grid-column: 4 / 6;
	grid-row: 2;
	text-align: center;

	font-family: 'Fluidence', serif;
	font-variation-settings: 'wght' 400;
	@include font-size(4.8);
	color: var(--col-black);
}

.type-desc {
	grid-column: 1 / -3;
	grid-row: 3;
	padding: 0 1rem;
}

.buy-button {
	grid-column: -2 / -1;
	grid-row: 3;
	align-self: center;
	height: fit-content;
	padding: 1.4rem 0;
	margin-right: 20%;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--col-red);
	color: var(--col-white);
	text-decoration: none;

	&:hover {
		box-shadow: 0 0 0 .1rem var(--col-red);
	}
}

.buy {
	margin: 3rem 0;
	grid-column: 1 / -1;
	padding: 1rem 0;
	border-bottom: .2rem solid var(--col-red);

	.buy-title {
		padding: 2rem 0;
		font-size: 8rem;
		margin: 0;
		border-bottom: .2rem solid var(--col-red);
		font-variation-settings: 'wght' 600;
	}
}

.faq {
	grid-column: 1 / -1;

	.faq-title {
		padding-top: 2rem;
		text-align: center;
		font-size: 6rem;
		font-variation-settings: 'wght' 850;
	}
}

@media screen and (min-width: 64em) {
	.type-about {
		grid-template-columns: repeat(12, 1fr);
	}

	.about-typeface { 
		grid-column: 1 / 7; 
	}
}
