
// Type Tester
// -----------------------------------------------------------

.type-tester { 
	margin: 3rem auto;
	padding: 3rem;
	min-height: 250px;

	.controls {
		display: flex;
		align-items: center;
		gap: 16px;
		flex-wrap: wrap;
		padding: 1em 0;
	}

	.control-group,
	.control-group button,
	.control-group select {
		@include font-size(1.6);
		font-family: var(--font-body);
		display: flex;
		gap: 8px;
		padding-right: 1em;
	}

	.style-select {
		@include font-size(1.6);
		padding: .5em;
		border: 1px solid var(--col-white);

		&:hover {
			border: 1px solid var(--col-red);
		}
	}

	.slider {
		min-width: 250px;
		padding-right: 0;
	}

	.align-buttons {
		display: flex;
		gap: 0;

		button {
			padding: 10px;
			border: 1px solid var(--col-white);

			&:hover {
				border: 1px solid var(--col-red);
			}
		}

		.active {
			background: var(--col-red);
			border: 1px solid var(--col-red);
			color: white;
		}
	}

	.type-demo {
		font-family: 'Fluidence', sans-serif;
		line-height: normal;

		&:focus {
			outline: none;
		}
	}
}
